@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6eadb;
  background-size: cover;
  height: fit-content;
  width: 100vw;
  padding-top: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .services-container {
    text-align: center;
  }
}
.quote-container {
  padding: 5px;
  background-color: black;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
  width: 95%;
}

@media screen and (max-width: 768px) {
  .quote-container {
    border-radius: 20px;
  }
}

.quotes {
  color: gold;
  font-size: 48px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

.quotation {
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  font-family: "Roboto";
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 768px) {
  .quotation {
    font-size: 14px;
  }
}
.services-heading {
  color: rgb(51, 48, 48);
  font-family: "Bree Serif";
  font-size: 40px;
  margin: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .services-heading {
    font-size: 22px;
  }
}

.services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .services {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
  }
}
.service-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .service-item {
    margin: 15px;
  }
}
.service-img {
  height: 100px;
  width: 100px;
  border: none;
  border-radius: 100px;
  background-color: transparent;
}
.item-heading {
  font-size: 18px;
  margin-top: 15px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
